body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    margin-top: 80px;
}

#vis-2310637 {
    height: 200px;
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid black;
}

.bar {
    width: 7px;
    background-color: black;
    margin: 0px 1px;
}

#motorcycle {
    position: absolute;
    font-size: 40px;
    display: none; 
    z-index: 10;
    transition: left 0.05s linear, bottom 0.05s linear;
    transform: scaleX(-1);
    filter: sepia(1) saturate(4) hue-rotate(320deg) brightness(0.55);
}
